<nav class="navbar navbar-expand-lg navbar-dark fixed-top fit-nav">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">FitPulse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
                <li class="nav-item"><a class="nav-link" href="/classes">Classes</a></li>
                <li class="nav-item"><a class="nav-link" href="/memberships">Memberships</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/bookings">My
                    Bookings</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="btn btn-pulse btn-sm"
                                                                         href="/classes/create">Add Class</a></li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="btn btn-pulse btn-sm" href="/register">Create
                    Account</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-light btn-sm">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
